.modal {
	position: fixed;
	inset: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}


.modal__content {
	width: auto;
	border-radius: 10px;
	background-color: #FFFEF8;
}

.modal__content .button__group {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modal__content .fa-xmark, .fa-arrow-left{
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	font-size: 30px;
	padding-top: 26px;
	padding-right: 30px;
	padding-left: 30px;
}

.fa-trash-can {
	cursor: pointer;
}



.modal__content .fa-arrow-left {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	font-size: 30px;
	padding-top: 26px;
	padding-right: 30px;
}

.modal__content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
}

.modal__content__container h2{
	font-family: 'Work Sans';
	font-size: 26px;
	color: #000;
	font-weight: 400;
}

.modal__content__container form {
	width: 420px;
	padding: 60px 105px 50px;
}

.submit__photos {
	height: 169px;
	width: 100%;
	background-color: #E8F1F6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.submit__photos input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.submit__photos label {
	padding: 10px 33px;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	transition: 0.5s;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 7px;
}

.submit__photos label:hover {
	background-color: #306685;
	color: #fff;
}

.submit__photos span {
	font-size: 10px;
}

.submit__photos img {
	width: 100px;
	height: 80px;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 30px 0;
}

.title input {
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	width: 100%;
}

.title label {
	color: #3D3D3D;
	font-size: 14px;
	font-family: Work Sans;
	font-weight: 500;
}

select {
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	width: 100%;
	outline: 0;
	font-family: 'Work Sans';
	padding: 4px;
}

.pictures__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 26px;
	column-gap: 19px;
	padding: 60px 105px 50px;
}

.pictures__container figure {
	position: relative;
	width: 76px;
	height: 102px;
}

.pictures__container__icons {
	display: flex;
	position: absolute;
	top: 3px;
	right: 3px;
	gap: 5px;
}

.pictures__container__icons i {
	background-color: #000;
	color: #fff;
	padding: 3px;
	font-size: 12px;
}

.pictures__container figure img {
	width: 100%;
	height: 100%;
	
}

.underline	{
	height: 2px;
	background-color: lightgray;
	width: 456px;
	margin-top: 50px;
}

.btn--addphoto {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 9px 49px;
	border-radius: 50px ;
	border: 1px solid #1D6154;
	cursor: pointer;
	transition: 0.5s;
	margin: 50px 0;
}

.btn--addphoto:hover {
	background-color: #FFFEF8;
	color: #1D6154;
	
}

.btn--validate {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 9px 49px;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	cursor: pointer;
	transition: 0.5s;
	margin: 50px 0;
}

.btn--validate[disabled] {
    background-color: #A7A7A7;
    border: 1px solid #A7A7A7;
}
